<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451754369548-visrio170v5t4l4vl0l9i6ugtbe26l62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451754369548-visrio170v5t4l4vl0l9i6ugtbe26l62</string>
	<key>API_KEY</key>
	<string>AIzaSyBcGqL8UUA24cFrBJzknBffAPe_-yDmNKk</string>
	<key>GCM_SENDER_ID</key>
	<string>451754369548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinkleader.install</string>
	<key>PROJECT_ID</key>
	<string>seinhomsis</string>
	<key>STORAGE_BUCKET</key>
	<string>seinhomsis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451754369548:ios:a3777919023353f4f24429</string>
</dict>
</plist>